<h1>{{storyboardName}}</h1>
<div class="storyBoard">
    <div *ngFor="let container of containers; let containerIndex = index" [id]="'container' + containerIndex">
        <div *ngIf="container.active">
            
            <app-full-screen 
            [container]="container"
            [containerIndex]="containerIndex">
            </app-full-screen>

            <!-- <div [id]="'innerContainer' + containerIndex" class="container" #fullscreen>

                <img class="view-image" *ngFor="let image of container.images | keyvalue; let i = index;"
                    [id]="'image' + containerIndex + '_' + image.key" [src]="image.value"
                    [style.width]="container.imagePositions[image.key].width + 'px'"
                    [style.height]="container.imagePositions[image.key].height + 'px'"
                    [style.left]="container.imagePositions[image.key].x + 'px'"
                    [style.top]="container.imagePositions[image.key].y + 'px'">

                <div *ngFor="let textField of container.textFields | keyvalue; let j = index;"
                    [id]="'textField' + containerIndex + '_' + textField.key"
                    [style.width]="container.textFieldPositions[textField.key].width + 'px'"
                    [style.height]="container.textFieldPositions[textField.key].height + 'px'"
                    [style.left]="container.textFieldPositions[textField.key].x + 'px'"
                    [style.top]="container.textFieldPositions[textField.key].y + 'px'" style="position: absolute">
                    <textarea readonly [(ngModel)]="container.textFields[textField.key]"></textarea>
                </div>
            </div> -->
        </div>
    </div>

    <div class="storyboardNav">
        <button *ngFor="let container of containers; let i = index" (click)="navigateToContainer(i)"
            [ngClass]="{ 'active': i === activeContainerIndex }">
            {{ i + 1 }}
        </button>
        <!-- <button (click)="toggleFullscreen()">Toggle Fullscreen</button> -->
    </div>
</div>