.storyBoard {
    position: absolute;
    top: 100px;
    left: 50px;
    display: flex;
    flex-wrap: wrap;
}


.storyboardNav {
    display: block;
    float: left;
    margin-top: 100px;
    width: 2250px;
    overflow-x: auto;
    margin-left: -1050px;
}

.storyboardnav .path-row button {
    width: 100px;
    height: 30px;
    border-radius: 50%;
    margin: 6px;
  }
  

.storyboardNav button.active {
    background-color: #007bff;
    color: white;
}

.active-container {
    background-color: rgb(126, 154, 218);
}