<div class="flex-container">
<div class="box-container">
  
  <!-- <span>600px</span>
  <span>450px</span> -->

  <div #box class="resizable-draggable" 
  [style.width.px]="width" 
  [style.height.px]="height" 
  [style.transform]="'translate3d('+ left + 'px,' + top + 'px,' + '100px)'"
  [class.active]="status === 1 || status === 2"
  (mousedown)="setStatus($event, 2)"
  (window:mouseup)="setStatus($event, 0)">

  <img 
  [src] =src
  alt=""
  [style.width.px]="width" 
  [style.height.px]="height"
  [style.objectFit]="'contain'">

  <div class="resize-action" (mousedown)="setStatus($event, 1)"></div>
  <span>{{width | number:'1.0-0'}}px</span>
  <span>{{height | number:'1.0-0'}}px</span>
  <span>({{left}}, {{top}})</span>
</div>

</div>

<div class="sidebar" >
  <app-sidebar 
(onDragStartEvent)="handleDragStartEvent($event)"></app-sidebar>

</div>


</div>