.container {
    width: 1350px;
    height: 680px;
    padding: 0;
    border: 1px solid black;
    flex: 1 0 calc(100% - 120px);
    background-color: white;
}


.view-image {
    position: absolute;
    width: 100px;
    height: 100px;
}




  .dynamic-label {
    display: inline-block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 450px;
    width: 400px;
    max-height: 150px;
    height: 120px;
    box-sizing: border-box; /* include padding and border in the element's total width and height */
    padding: 5px; /* add padding */
    color: white;
  }
  

.fullscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerText {
    text-align: center;
    font-size: 28px;
}  
.pathChoice {
    margin-top: 100px;
    padding-right: 420px;
    float: right;
    width: 40px;
    height: 40px;
}

.radio-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

.radio-item [type="radio"] {
    display: none;
}

.radio-item+.radio-item {
    margin-top: 15px;
}

.radio-item label {
    display: block;
    padding: 0px 0px 0px 50px;
    background: #f7b8f0;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    min-width: 250px;
    white-space: normal;
    position: relative;
    transition: 0.4s ease-in-out 0s;
}

.radio-item label:after,
.radio-item label:before {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.radio-item label:after {
    height: 19px;
    width: 19px;
    border: 2px solid #3733b4;
    left: 19px;
    top: calc(50% - 12px);
}

.radio-item label:before {
    background: #524eee;
    height: 20px;
    width: 20px;
    left: 21px;
    top: calc(50%-5px);
    transform: scale(5);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out 0s;
}

.radio-item [type="radio"]:checked~label {
    border-color: #524eee;
}

.radio-item [type="radio"]:checked~label::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}