<div class="storyBoard">
  <div class="container-wrapper">
    <div *ngFor="let container of containers; let containerIndex = index" [id]="container.id">
      <div *ngIf="container.active">
        <div [id]="container.id" class="container" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
          
            <app-image
            [storyboardId]="storyId"
            [isResizing]="isResizing"
            [startX]="startX"
            [startY]="startY"
            [draggedImagePosition]="draggedImagePosition"
            [containers]="containers"
            [container]="container"
            [containerIndex]="containerIndex">

          </app-image>
          

            <app-text-field
            [storyboardId]="storyId"
            [isResizing]="isResizing"
            [startX]="startX"
            [startY]="startY"
            [draggedImagePosition]="draggedImagePosition"
            [containers]="containers"
            [container]="container"
            [containerIndex]="containerIndex"
            >

            </app-text-field>

        </div>
        
      </div>
    </div>
  </div>


  <div class="storyboardNav">
    <button *ngFor="let container of containers; let i = index" (click)="activateContainer(i)">
      {{ i + 1 }}
    </button>
    <button (click)="addContainer()"> + </button>
    <button (click)="updateElementPositions()">Load Storyboard</button>


    <button (click)="addTextField()">Input text</button>

  </div>

  <app-sidebar class="sidebar" [draggedImage]="draggedImage" [draggedImagePosition]="draggedImagePosition"
    (onDragStartEvent)="handleDragStartEvent($event)">
  </app-sidebar>
</div>


