<app-sidebar class="sidebar" [draggedImage]="draggedImage" [draggedImagePosition]="draggedImagePosition"
  (onDragStartEvent)="handleDragStartEvent($event)">
</app-sidebar>

<div class="storyBoard">
  <div class="container-wrapper">
    <div class="actionButtons">

      <button mat-raised-button matTooltip="Insert text" matTooltipPosition="after" (click)="addTextField()">
        <mat-icon>textsms</mat-icon>
      </button>

      <button mat-raised-button matTooltip="Insert Headline" matTooltipPosition="after" (click)="addHeaderField()">
        <mat-icon>view_headline</mat-icon>
      </button>

      <button mat-raised-button matTooltip="Continue Story Path" matTooltipPosition="after"
        (click)="continueStoryPath()">
        <mat-icon>arrow_forward</mat-icon>

      </button>

      <button mat-raised-button matTooltip="Split Story Path" matTooltipPosition="after"
        (click)="splitStoryPathPrompt()">
        <mat-icon>call_split</mat-icon>
      </button>
    </div>

    <div class="save-storyboard">

      <button mat-raised-button matTooltip="Publish & View" matTooltipPosition="after" (click)="saveAndPublishStory()">
        <mat-icon>publish</mat-icon>
      </button>

    </div>

    <div *ngFor="let container of containers; let containerIndex = index" [id]="'container' + containerIndex">
      <div *ngIf="container.active">
        <div [id]="'innerContainer' + containerIndex" class="container" (dragover)="onDragOver($event)"
          (drop)="onDrop($event)">

          <app-image [storyboardId]="storyId" [isResizing]="isResizing" [startX]="startX" [startY]="startY"
            [draggedImagePosition]="draggedImagePosition" [containers]="containers" [container]="container"
            [containerIndex]="containerIndex">
          </app-image>

          <app-text-field [storyboardId]="storyId" [isResizing]="isResizing" [startX]="startX" [startY]="startY"
            [draggedImagePosition]="draggedImagePosition" [containers]="containers" [container]="container"
            [containerIndex]="containerIndex">
          </app-text-field>

          <!-- fix from here downward -->
          <div *ngIf="container.radioButtons" class="pathChoice">
            <div *ngFor="let key of getKeys(container.radioButtons); let i = index" class="choiceContainer">

              <input type="radio" [(ngModel)]="container.radioButtons[key]" name="{{'radio' + i}}"
                (click)="getRadioButtonValue(key)">{{ key }}

              <textarea [(ngModel)]="container.pathDescription"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="storyboardNav">


  <div class="path-row" *ngFor="let container of getFlattenedContainers(); let i = index">
    <button [style.margin-left.px]="container.pathId.length * 150" (click)="activateContainer(container)"
      [class.active-container]="container.active">
      {{ container.pathId }}
    </button>
  </div>


</div>