.storyBoard {
  display: flex;
  flex-wrap: wrap;
}

.container {
  position: relative;
  width: 1350px;
  height: 780px;
  border: 1px solid black;
  margin-right: 10px;
  flex: 1 0 calc(100% - 120px);
  /* Adjust the width to accommodate the sidebar */
}

.sidebar {
  display: inline-block;
  width: 120px;
  margin-left: 10px;
  /* Add margin to separate the sidebar from the container */
}

.storyboardNav {
  display: block;
  position: absolute;
  margin-top: 790px;
}

.drag-area {
  width: 700px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

