<div *ngFor="let textField of container.textFields | keyvalue; let j = index; trackBy: trackByFn"
     [id]="'textField' + containerIndex + '_' + textField.key"
     cdkDrag
     (cdkDragEnded)="onTextDragEnd($event, 'textField' + containerIndex + '_' + textField.key)"
     style="position: absolute"
     cdkDrag cdkDragBoundary=".container">
     
     <textarea [(ngModel)]="container.textFields[textField.key]"
     (mousedown)="startResize($event, j, true)"
     (mousemove)="resizeImage($event, j, true)"
     (mouseup)="endResize()"
     style="width: 100%; height: 100%;"
  ></textarea>
  
</div>

