<div *ngFor="let textField of container.textFields | keyvalue; let i = index; trackBy: trackByFn"
     [id]="'textField' + containerIndex + '_' + textField.key"
     cdkDrag [cdkDragDisabled]="cdkDragDisabled"
     (cdkDragEnded)="onTextDragEnd($event, 'textField' + containerIndex + '_' + textField.key)"
     style="position: absolute"
     cdkDrag cdkDragBoundary=".container"
     (mouseover)="activeTextFieldIndex = i">

     <textarea [(ngModel)]="container.textFields[textField.key].text"
               [ngClass]="container.textFieldPositions[textField.key].class"
               [style.width]="container.textFieldPositions[i].width + 'px'"
               [style.height]="container.textFieldPositions[i].height + 'px'"
               class="resizable-textarea"
               (mousedown)="onResizeStart($event)"
               (mouseup)="onResizeEnd()"
     ></textarea>
</div>
